body {
    background: url(../backgrounds/brickwall.png);
    font-family: 'Chelsea Market', cursive, Tahoma, Arial;
}

.hello {
    text-align: center;
    font-size: 10em;
}

.par1 {
    text-align: center;
    font-size: 3em;
}

.footer {
    text-align: center;
    padding-top: 300px;
}